/* @media only screen (min-width: 421px) and (max-width: 799px) {
  style smartphones et petites tablettes en portrait
} */

@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidenav menu */
.entete {
  display: flex;
  justify-content: space-between;
}
.menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: #e8e8e8;
  padding-top: 60px;
  transition: left 0.5s ease;
}
.header1 {
  font-size: xxx-large;
  font-weight: bold;
}
/* Sidenav menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

/* Close btn */
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/* Contenu principal */
body {
  font-family: "Prompt", sans-serif;
  background-color: white;
  margin: 20px;
}

h2 {
  font-size: large;
  text-transform: uppercase;
}

/* INTRO */
.header2 {
  margin-bottom: 2%;
  margin-top: 3%;
}
.image-intro {
  width: 250px;
  height: 400px;
  background: url(./broc4.jpg);
  background-size: cover;
  background-position: 50%;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Section grise / parent */
#parent {
  position: relative;
  padding: 20px;
  background-color: rgb(70, 72, 73);
  border-radius: 20px;
  margin: 70px 0;
  color: white;
}
.image-container {
  margin-top: -70px;
  margin-bottom: 20px;
}
.child1,
.child2 {
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
}

/* CONTAINER */
.container img {
  border-radius: 25px;
  width: 70%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
#section4,
#section5,
#section6 {
  line-height: 180%;
  text-align: center;
  margin: 30px 0;
}
button {
  padding: 10px 60px;
  border: none;
  border-radius: 5px;
  background-color: #e4dede;
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  background-color: #c2c2c2;
}
.photos {
  position: relative;
  background-color: rgb(70, 72, 73);
  padding: 10%;
  width: 100%;
  margin-block: 5%;
}
.broc8,
.broc9 {
  width: 100%;
  object-fit: cover;
}
footer {
  position: relative;
  text-align: center;
  line-height: 300%;
}
h3 {
  margin: 2%;
  line-height: 100%;
  padding: 0%;
}
#icone {
  padding: 2em;
}
#icone a {
  text-decoration: none;
}
div.text {
  position: absolute;
  top: 42%;
  left: 41%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: x-large;
  text-transform: uppercase;
}
div.text1 {
  position: absolute;
  top: 81%;
  left: 43%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: x-large;
  color: aliceblue;
  text-transform: uppercase;
}
